<form>
    <h1>Nova consulta</h1>
    <br>
    <textarea cols="30" rows="2" placeholder="ex: Consulta pediatrica"></textarea>
    <small class="error">
        <strong>Consulta inválida</strong>
    </small>
    <br>
    <h2>Quando?</h2>
    <input type="date">
    <small class="error">
        <strong>Data inválida</strong>
    </small>
    <br>
    <br>
    <p class="text-right">
        <app-button>
            <i class="fa fa-save"></i>
            Marcar consulta
        </app-button>
    </p>
</form>