<ul class="consults">
    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a class="done">
            Alergia e Imunologia <br>
            <small>16/08/2021</small>
        </a>
    </li>

    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Alergia e Imunologia <br>
            <small>16/08/2021</small>
        </a>
    </li>

    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Alergia e Imunologia <br>
            <small>16/08/2021</small>
        </a>
    </li>

    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Alergia e Imunologia <br>
            <small>16/08/2021</small>
        </a>
    </li>
</ul>