<ul class="consults">
    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a class="done">
            Pediatra - Dr. José da Silva <br>
            <small>14/12/2021</small>
        </a>
    </li>

    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Entrega de exame/sangue <br>
            <small>14/12/2021</small>
        </a>
    </li>

    <li>
        <div>
            <a class="remove-item"><i class="fa fa-check"></i></a>
        </div>
        <a>
            Pediatra - Dr. José da Silva <br>
            <small>14/12/2021</small>
        </a>
    </li>
</ul>