<div class="text-center">
    <ul class="tabs">
        <li>
            <!-- consult-today -->
            <h1><a routerLink="/" routeLinkActive="selected">Consulta atual</a>
            </h1>
        </li>

        <li>
            <!-- scheduled-consult  -->
            <h1><a routerLink="/scheduled-consult" routeLinkActive="selected">Consulta marcada</a></h1>
        </li>

        <li>
            <!-- all-consult-medic -->
            <h1><a routerLink="/all" routeLinkActive="selected">Todas as consultas</a></h1>
        </li>

        <li>
            <!-- new-consult -->
            <h1><a routerLink="/new-consult" routeLinkActive="selected">Qual a consulta?</a></h1>
        </li>
    </ul>
</div>

<!-- routeLinkActive, vai na URL procurar pela rota e devolve  -->